.btn:active, .btn.active {
	background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-group.open .dropdown-toggle {
	-webkit-box-shadow: none;
    box-shadow: none;
}

.input-group-btn button:hover, .input-group-btn button:focus, .open>.dropdown-toggle.btn-default:focus,
	.open>.dropdown-toggle.btn-default:hover, .open>.dropdown-toggle.btn-default,
	.input-group-btn>.dropdown-toggle.btn-default:focus, .input-group-btn>.dropdown-toggle.btn-default:hover {
	background: #f5f5f5;
    border-color: #e3e6eb;
    outline: none;
    box-shadow: none;
}

.dropdown-menu > li > a {
	padding: 4px 12px;
	cursor: pointer;
}

.modal-footer > button {
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
    width: 112px;
    height: 40px;
}

.modal-footer.add-nominee-footer, .modal-footer.swap-seats-footer {
    padding-bottom: 40px;
    padding-top: 16px;
}

.modal-footer .btn-add-nominee {
	background-color: #359df3;
	width: 100%;
}

.btn-add-nominee:active:hover, .btn-add-nominee:hover, .btn-add-nominee:focus {
	background-color: #5cadf2;
	color: #fff;
    outline: none;
	box-shadow: none;
}

.btn-action button:active:hover, .btn-action button:hover, .btn-action button:focus {
	color: #fff;
    outline: none;
	box-shadow: none;
	border: none;
}

.modal-footer .btn-action {
	margin-top: 30px;
}

.modal-footer .btn-action button {
	height: 48px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	border: none;
}

.btn-action .btn-takein {
	background-color: #6bbc59;
}

.btn-takein:hover, .btn-takein:focus {
	background-color: #6bcc59;
}

.btn-action .btn-giveout {
	background-color: #ea8e40;
}

.btn-giveout:hover, .btn-giveout:focus{
	background-color: #ea7e40;
}

.btn-action>.btn-group:first-child {
	padding-right: 24px;
}

.btn-action>.btn-group:last-child {
	padding-left: 24px;
}

.modal-footer .btn-cancel {
	color: #000;
	font-weight: normal;
	margin-right: 10px;
	background: #bcc9d5;
    color: #fff;
    outline: 0;
}

.btn-cancel:hover  {
    background-color: #d2d8de;
    border: 0;
}

.btn-cancel:active, .btn-cancel:active:focus {
	background-color: #a3aeb9;
	outline: 0;
}

.modal-footer .btn-confirm, .modal-footer .btn-submit {
	color: #fff;
	background-color: #369cf3;
	border: 0;
	font-weight: normal;
	outline: 0;
}

.btn-confirm:hover, .btn-submit:hover {
	background-color: #5cadf2;
	border: 0;
}

.btn-confirm:active, .btn-confirm:active:focus, .btn-submit:active, .btn-submit:active:focus, .btn-confirm-edit:active, .btn-confirm-edit:active:focus {
	background-color: #3b86c5;
	outline: 0;
}

.btn-confirm-edit {
	position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    color: #fff;
    height: 48px;
    width: 60px;
    margin-left: 15px;
	background-color: #369cf3;
}

.btn-confirm-edit:hover {
	background: #5cadf2;
	color: #fff;
}

.btn-confirm-edit:focus {
	color: #fff;
}

.modal-footer .btn-delete {
	float: left;
	color: #fff;
    margin-left: 0;
    width: 85px;
    background-color: #EE885B;
	font-weight: normal;
	outline: 0;
}

.btn-delete:hover {
    background-color: #F3A380;
    color: #fff;
}

.btn-delete:active, .btn-delete:active:focus {
	background-color: #d37b54;
	color: #fff;
	outline: 0;
}

/* Upload Button */
.btn-upload {
    height: 40px;
    border: 0;
	margin-bottom: 30px;
}

.uploadSelector {
	position: relative;
    background: #c2ccd5;
    line-height: 46px;
    top: -47px;
    border-radius: 0 2px 2px 0;
    width: 52px;
    text-align: center;
    cursor: pointer;
    float: right;
}

.uploadSelector .file {
	position: absolute;
    height: 46px;
    top: 0;
    right: 1px;
    width: 52px;
    opacity: 0;
}

.btn-admin-head {
    border: 0;
    background: -webkit-gradient(linear, right bottom, left bottom, from(#344b65), to(#3b4f6f));
    line-height: 30px;
    padding: 0 10px;
    text-transform: uppercase;
	color: #8a9abb;
    font-weight: bold;
}

.btn-admin-head:hover, .btn-admin-head:focus {
	color: #8a9abb;
}

.btn-admin-head:active:focus {
	outline: 0;
	color: #8a9abb;
}

.btn-export {
    display: inline-block;
    background-color: #369bf3;
/*     width: 174px; */
    color: #fff;
    float: right;
    border-radius: 2px;
    outline: 0;
}

.btn-export:hover {
    color: #fff;
    background-color: #369bf3;
}

.btn-export:focus {
	color: #fff;
	outline: 0;
}

.btn-export:active {
	background-color: #2c72af;
	outline: 0;
}

.export-disable {
	opacity: .5;
	cursor: no-drop;
}

.export-disable:active {
	background-color: #369bf3;
}