.modal-open {
	position: relative;	
}

.modal-dialog {
	width: 1000px;	
}

#addNomineeModal .modal-dialog, #addSbuModal .modal-dialog {
	width: 525px;
}

#confirmModal .modal-dialog, 
#uploadModal .modal-dialog, 
#programDetailModal .modal-dialog,
#editLBPModal .modal-dialog {
	width: 600px;
}

.modal-header {
    color: #3e495b;
    padding: 0 28px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-transform: uppercase;
}

.modal-header .close {
	color: #ababab;
    opacity: 1;
    font-size: 34px;
    font-weight: normal;
    text-shadow: none;
    margin-top: 0;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 10px;
    outline: none;
}

.modal-title {
	height: 60px;
	line-height: 60px;
	font-size: 18px;
	text-align: left;
}

.modal-body {
	padding: 0 28px;
    color: #3d4a5a;
    font-size: 16px;
}

#uploadModal .modal-body, #editLBPModal .modal-body {
	margin-top: 30px;
}

.select-row-container {
	position: relative;
	width: 100%;
	margin-top: 30px;
}

.select-row-container .btn-group {
	margin-bottom: 18px;
}

div.select-btn.no-border > span {
	padding-left: 0;
}

.select-row-container .dropdown-menu{
    margin: 0;
	border: 1px solid #d9d9d9;
    border-radius: 0;
    box-shadow: none;
    top: 98%;
    overflow: auto;
    width: 100%;
    max-height: 215px;
}

#targetProgramList {
	top: 100%;	
}

.select-row-container .dropdown-menu a{
    padding: 0 25px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #000;
}

.select-row-container .dropdown-menu a:hover {
	text-decoration: none;
    background: #D3D9E0;
}

.select-row-container .select-btn, .regular-container .select-btn {
	position: relative;
    border: 1px solid #dbdee2;
    border-radius: 4px;
    background: #fff;
    line-height: 48px;
    outline: none;
	display: inline-block;
    vertical-align: middle;
    padding: 0;
}

.regular-container .select-btn {
	height: 40px;
	line-height: 40px;
}

.select-btn > span {
	display: inline-block;	
	float: left;
	text-align: left;
	padding-left: 20px;
}

.select-name {
    min-width: 126px;
    color: #7f919f;
    font-size: 13px;
    text-transform: uppercase;
}

.select-value {
    font-size: 16px;
    padding: 0 40px 0 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
	height: 100%;
    width: 302px;
    color: #3F495C;
    border: 0;
    border-radius: 4px;
    outline: 0;
}

.modal-footer {
	position: relative;
	padding: 28px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: none;
    margin-top: 30px;
}

/* Upload file in modal */
.modalUploadInput {
	border: 1px solid #d9d9d9;
    border-radius: 2px;
    height: 48px;
    line-height: 48px;
    width: 100%;
    padding: 0 72px 0 20px;
}

/* Admin Modal Detail Style */
.info-container {
	color: #7f909c;
    text-transform: uppercase;
    font-size: 13px;
    margin: 20px 0;
}

.info-sub-title {
	font-family: opensans-bold;
    color: #7f909c;
}

.info-list {
    border: 1px solid #dfe3e6;
    border-radius: 4px;
    width: 100%;
    margin-top: 12px
}

.detail-list {
	height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #dfe3e6;
    padding: 0 24px;
}

.detail-list:last-child {
	border-bottom: 0;
}

.detail-list-title {
    margin-bottom: 0;
    font-size: 13px;
    font-weight: normal;
    color: #7f909c;
    min-width: 100px;
    text-transform: uppercase;
    
	max-width: 120px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.detail-list-title.left-part {
	float: left;
    text-align: left;
}

.detail-list-content {
	display: inline-block;
    width: 75%;
    border: none;
    box-shadow: none;
    font-size: 14px;
    color: #3f495c;
    outline: 0;
    float: right;
    text-align: right;
    height: 100%;
    padding: 0;
}

.detail-list-content.right-part {
    min-width: 200px;
    text-align: right;
}

.list-select-btn {
    border: 0;
    border-radius: 4px;
    background: #fff;
    height: 100%;
    outline: none;
    position: relative;
    width: 100%;
    padding: 0;
}

/* Admin Modal Detail Style */

.edit-info {
    position: relative;
    margin-bottom: 10px;
    height: 60px;
    line-height: 60px;
}

.edit-info .name {
    width: 180px;
    float: left;
    text-align: left;
    padding-left: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.edit-info .edit-text {
	position: absolute;
    right: 5px;
    height: 60px;
    line-height: 60px;
    color: #e08d43;
    cursor: pointer;
    font-size: 14px;
    font-family: opensans-bold;
}

.edit-info .edit-input {
	position: absolute;
    bottom: 0;
    left: 0;
    border: 1px solid #dbdee2;
    border-radius: 2px;
    height: 48px;
    line-height: 48px;
    width: 465px;
    padding: 0 20px;
    font-size: 14px;
    outline: none;
}