.max-width-300 {
	max-width: 300px;
}
.table {
    margin-bottom: 0;
    border: 1px solid #dedee3;
    background-color: #fff;
}

thead {
    border: 0;
    color: #fff;
}

.datepicker thead {
	color: #333;
}

.table>thead>tr {
    background-color: #a8b8c2;
}

.table>thead>tr>th, .table>tbody>tr>td {
    border-bottom: 1px solid #DBDEE2;
    font-weight: normal;
    vertical-align: middle;
    border-top: 0;
    padding: 0 10px;
}

.table>thead>tr>th {
	font-size: 12px;
    height: 38px;
    text-transform: uppercase;
}

.table>thead>tr>th.th-width-l1, .table>tbody>tr>td.td-width-l1{
	width: 330px;
    text-align: left;
    padding-left: 80px;	
}

.th-width-l2, .td-width-l2 {
	width: 135px;
    text-align: center;
}

.td-width-l1 {
	width: 400px;
}

.td-width-limit {
	width: 300px;
}

.table>tbody>tr>td {
	font-size: 14px;
	height: 52px;
	color: #2a3039;
	word-break: break-word;
}

.table>tbody>tr>td:first-child, .table>tbody>tr>td:last-child {
	padding: 0;
    position: relative;
    border-bottom: none;
    padding-left: 20px;
    min-width: 10px;
}

.table>tbody>tr>td .rename-wrap{
	display: block;
}

.rename-wrap * {
	display: inline-block;
}

.table>tbody>tr:nth-child(odd)>td {
/* 	border-bottom: 0; */
}

.event-table {
	border: none;
}

.icon-view-detail {
    background: url("../images/btn_view_detail.png") center no-repeat;
    width: 13px;
    height: 19px;
    background-size: 13px;
    -webkit-appearance: none;
    border: none;
    outline: none;
    box-shadow: none;
    margin: auto;
    cursor: pointer;
}

.icon-user-edit {
    background: url("../images/btn_useredit.png") left no-repeat;
    cursor: pointer;
    height: 22px;
    width: 22px;
}

.icon-swap {
	background: url(../images/btn_swap.png) no-repeat center;
    width: 32px;
    height: 32px;
    background-size: cover;
    -webkit-appearance: none;
    border: none;
    outline: none;
    box-shadow: none;
    margin: auto;
    cursor: pointer;
}
